body{margin:0;background:#fff;font:16px/20px Arial;color:#17202a}
.outer{width:220px;height:135px;overflow:hidden;margin:15px;background:#d9e8ee;border:3px solid #254365}.inner{position:relative;width:300px;height:180px;margin:17px;background:#479397;overflow:hidden}.tile{position:absolute;left:65px;top:40px;width:260px;height:90px;background:#d88b42}
