body{margin:0;background:#fff;font:16px/20px Arial;color:#17202a}
.text{width:245px;margin:12px;padding:9px;border:1px solid #384e65;background:#eef2f6;font:16px/22px Arial}.mark{color:#a74f2b;font-weight:bold}
