body{margin:0;background:#fff;font:16px/20px Arial;color:#17202a}
table{width:330px;border-collapse:collapse;table-layout:fixed;margin:12px}td{border:2px solid #253d58;padding:8px;height:34px;background:#93c1ca}td.alt{background:#d9a45c}
