body{margin:0;background:white;color:black}.row{display:block;width:400px;font-size:15px;line-height:24px}.malgun{font-family:"Malgun Gothic"}.arial{font-family:Arial}.times{font-family:"Times New Roman"}.auto{font-kerning:auto}.normal{font-kerning:normal}.none{font-kerning:none}

.segoe{font-family:"Segoe UI"}.size-24{font-size:24px;line-height:36px}